@import url(reset.css);

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  background-image: url(/img/modoDark.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out .5s linear;
}
header.active {
  background-image: url(/img/modoWhite.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out .5s linear;
}

header > div:first-of-type {
  width: 80px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header > div:first-of-type:hover{
  scale: 1.1;
}
header > div:first-of-type > img{
  width: 100%;
  scale: 1.5;
  transform: translateY(.2rem);
  object-fit: cover;
}
header > nav {
  display: flex;
  align-items: center;
}
header > nav > ul {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 16px 0;

}

header > nav > ul > li > a {
  position: relative;
  line-height: 40px;
  color: var(--bg-White);
  font-weight: bold;
}
header > nav > ul > li > a.active {
  line-height: 40px;
  color: var(--bg-gold10);
  font-weight: bold;
}

header > nav > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 30px;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--bg-gold20);
  transition: all 200ms ease;
}

header > nav > ul > li > a:hover::after,
header > nav > ul > li > a.active:hover::after {
  width: 100%;
  left: 0;
}
header > nav > ul > li > a.active:hover::after {
  background-color: var(--bg-White);
}

header > div:last-of-type {
  display: none;
}

@media screen and (min-width: 1024px){
  header{
    background-image: none;
    background-color: var(--bg-BlueDark10);
  }
  header.active{
    background-image: none;
    background-color: var(--bg-BlueDark30);
    border: none;
  }
}
@media screen and (max-width: 768px) {
  header {
    background-image: url(../img/modoDark.jpeg);
    padding: 0 40px;
    justify-content: space-between;
  }
  header.active{
    background-image: url(../img/modoWhite.jpeg);
  }
  header > div:first-of-type {
    margin: 10px 0;
  }
  header > nav > ul{
    display: none;
  }
  header > nav > ul.active{
    z-index: 10;
    width: 25%;
    height: 24rem;
    top: 6.2em;
    left: 0;
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-bottom-right-radius: 35px;
    border: none;
    
    background-color: var(--bg-White);
  }
  header > nav > ul.active.dark{
    background-color: var(--bg-BlueDark10);
  }
  
  header > div:last-of-type {
    display: initial;
  }
}
@media screen and (max-width: 425px) {
  header > nav > ul.active{
    width: 50%;
  }
}